<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            <h1 align="center">Welcome to Rails Blog</h3>
        </div>
        <div>
           <!-- <img src="/assets/Ruby-on-Rails-Slider.jpg" width="100%" alt="Ruby_on_rails_banner"> -->
            <%= image_tag("Ruby-on-Rails-Slider.jpg", :alt => "Ruby_on_rails_banner", :width => "100%") %>
        </div>
        <div class="row partition">
            <div class="col-xs-12 col-md-12 col-lg-12">
            <header align="center">
                <h3 align="center">This is a Ruby on Rails Blog. You can discuss here various concepts and topics of ruby as a programming language and rails as the web framework for developing web application. You can also pickup ideas of different projects that you can make in rails and also can find some brilliant people sharing their code and logic. 
                    <h3>You can SignUp below and join the biggest community of Ruby On Rails here.</h3></h3>
            </header>
            </div>
        <hr />
        <div class="row partition">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="col-md-6 col-xs-6 col-lg-6">
                
                    <h2 align="center"> You can SignUp here below </h2> 
                    <h3 align="center"><%= link_to 'SignUp', signup_path, class: "linkdecor" %></h3>
                <!--<h3><a href="/pages/signup">SignUp path</a></h3> -->
                </div>
            
                <div class="col-md-6 col-xs-6 col-lg-6">
                    <h2 align="center"> If already joined then LogIn here </h2>
                    <h3 align="center"><%= link_to 'LogIn', signup_path, class: "linkdecor" %></h3>
                </div>
            </div>
        </div>
        </div>
        <div>
            <footer align="center">
                <h3>Posted by: Arpit Agarwal</h3>
                <h3>Contact information: <a href="mailto:agarwalarpit22@gmail.com">agarwalarpit22@gmail.com</a>.</h3>
            </footer>
        </div>
    </body>
</html>